* {
    font-family: 'Consolas';
    -ms-overflow-style: none; /* Hide scrollbar: Internet Explorer, Edge */
    scrollbar-width: none; /* Hide scrollbar: Firefox */
} *::-webkit-scrollbar {  
    display: none; /* Hide scrollbar: Chrome, Safari, Opera */
} * > button {
    background-image: url('images/soft-wallpaper.png');
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
} * > select {
    background-image: url('images/soft-wallpaper.png');
} * > hr {
    background-color: black;
    border-color: black;
    width: 100%;
}
.hidden {
    visibility: hidden;
}
.collapse {
    display: none;
} .collapse.modal {
    display: none;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration-line: underline;
}
.rotate {
    transform: rotate(180deg);
}
html {
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
body {
    background: url('images/buried.png');
    background-color: #245f4e;
}
#window-header {
    text-align: center;
    height: 5vh;
}
.main-container {
    background-color: #014f1a;
    background-image: url('images/honeycomb.png');
    display: flex;
    margin: auto;
    height: 90vh;
    width: 95vw;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5)
}
.menu-container {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 20%;
    margin: auto;
}
.menu-button {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    font-size: 18px;
    height: 3em;
    width: 100%;
}
.menu-button-container {
    height: 80%;
    width: 100%;
} .menu-button-container > button {
    background-color: #00be88;
}
.save-button-container {
    text-align: center;
    font-size: 0;
    height: 15%;
    width: 80%;
    margin: auto;
    line-height: 0;
} .save-button-container > p {
    text-decoration-line: underline;
    font-size: 18px;
} .save-button-container > button {
    background-color: #4a4a4a;
    font-size: 14px;
    height: 30%;
}
.settings-button-container {
    text-align: center;
    font-size: 0;
    height: 5%;
    width: 90%;
    margin: auto;
} .settings-button-container > button {
    background-color: #696969;
    height: 90%;
}
.game-container {
    background: url('images/black-paper.png');
    background-color: #509786;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 95%;
    width: 60%;
    box-shadow: 
        inset 0 0 50px rgba(0, 0, 0, 0.5),
        0 0 40px #50978627;
}
.game-container-header {
    font-size: 18px;
    text-align: center;
    height: 12%;
}
.game-container-body {
    height: 88%;
    width: 100%;
    overflow: auto;
}
.recruitment-container-body {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}
.recruitment-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 14%;
    width: 100%;
}
.recruitment-cell {
    font-size: 18px;
    display: flex;
    height: 100%;
    width: 25%;
} .recruitment-cell > button {
    background-color: #455b55;
    font-size: 18px;
    height: 100%;
    width: 100%;
}
.recruitment-text {
    margin-left: 10%;
} .recruitment-text > p {
    white-space: pre-wrap;
}
.game-container-footer {
    display: flex;
    justify-content: flex-end;
    height: 10%;
    width: 100%;
}
.upgrade-button-container {
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    height: 100%;
    width: 30%;
    overflow: auto;
} .upgrade-button-container > button {
    background-color: #455b55;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 4%;
    flex-shrink: 0;
    height: 65%;
    width: 15%;
} .upgrade-button-container > button:hover::after {
    background-color: #509786;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
    white-space: pre-line;
    position: absolute;
    display: flex;
    justify-content: center;
    content: attr(data-string);
    top: 75%;
    left: 23.5%;
    padding: 10px;
}
.forage-button-container {
    display: flex;
    height: 100%;
    width: 40%;
} .forage-button-container > button {
    background-color: #2c8172;
    font-size: 16px;
    margin: auto;
    height: 90%;
    width: 90%;
}
.recruit-quantity-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: 30%;
} 
#quantity-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
} #quantity-column > select {
    border: 1px solid black;
}
#rounding-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.quantity-options {
    background-color: inherit;
    text-align: center;
    margin: auto;
    height: 50%;
    width: 80%;
}
.quantity-options.highlight {
    background-color: #009970;
}
.submenu-button-container {
    height: 75%;
    width: 100%;
} .submenu-button-container > button {
    background-color: #0bab5b;
}
.message-log-container {
    border: 1px solid black;
    box-sizing: border-box;
    height: 25%;
    width: 100%;
}
.message-log-header {
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
}.message-log-header > p {
    margin-left: 5%;
    height: 100%;
    width: 70%;
} .message-log-header > button {
    background-color: inherit;
    width: 30%;
}
.message-log {
    display: flex;
    flex-direction: column-reverse; 
    overflow: auto;
    font-size: 12px;
    height: 85%;
    width: 100%;
} .message-log > pre {
    border-top: 1px solid black;
    box-sizing: border-box;
    white-space: pre-wrap;
    padding: 3px;
    margin: 0;
} .message-log > pre > div {
    display: flex;
    margin-left: .5em;
}
.message-text {
    margin-left: 0.5em;
}
.modal {
    background-color: rgba(150, 150, 150, 0.9);
    border: 4px inset rgba(0, 0, 0, 0.65);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 12.5%;
    left: 20%;
    width: 60%;
    height: 75%;
    position: fixed;
    z-index: 1;
}
#settings-modal-body {
    height: 100%;
    width: 90%;
}
.modal-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#settings-list > button {
    background-color: #696969;
    width: 33%;
    margin: auto;
} #settings-list > button.highlight {
    background-color: #a1a1a1;
}
#stats-modal-body {
    height: 100%;
    width: 90%;
}
.stat-entry-value {
    float: right;
}
.stat-subentries {
    flex-direction: column;
    margin-left: 5%;
    width: 95%;
}
.stat-subentry-value {
    float: right;
    margin-right: calc(1em + 1px);
}
.arrow-pointer {
    float: right;
}
#import-export-modal {
    top: 20%;
    height: 60%;
} #import-export-modal > textarea {
    background-color: rgba(180, 180, 180, 1);
    width: 90%;
    height: 85%;
}
#import-export-button-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 15%;
    font-size: 0;
    line-height: 0;
} #import-export-button-container > button {
    background-color: #808080;
    width: 25%;
    height: 80%;
}